{% extends 'base.html' %}

{# grandPy home message #}
{% block bubble_gp %}
<img src="{{ url_for('static', filename='image/text_home.png')}}" alt="parole de grand papy"/>
{% endblock bubble_gp %}

{# question posed to grandPy #}
{% block question_gp %}
<fieldset>
    <legend>Votre question à GrandPy</legend>
    <p>
        <label for="question">Pose ta question ici ! (Maxi 150 Caractères)</label>
        <input type="text" name="question" id="question"
                    placeholder="Ex : Ou se trouve l'hotel Napoléon a 75000 paris"
                    size="160" maxlength="150" autofocus required/>
    </p>
    {# validate the question #}
    <p><input type="submit" value="Envoyer"/></p>
</fieldset>
{% endblock question_gp %}

