<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/style.css" />
    <title>GrandPy</title>
</head>

<body>
    <!-- Acceuil de la page de GrandPy-->
    <header id='haut'>
        <h1>GrandPy</h1>
        <h2>le Papi robot est là pour vous aidez a vous retrouvez dans le quartier!</h2>
    </header>

    <div id="dialogue">
        <p id="grandpy"><img src="../static/image/Grandpy.png" alt="image de grand papy"/></p>
        <p class="affiche" id="reflexion" ><img src="../static/image/gprecherche.gif" alt="reflection de grand papy"/></p>
        <p id="paroleAccueil"><img src="../static/image/texte_accueil.png" alt="parole de grand papy"/></p>
        <p class="affiche" id="paroleReponse"><img src="../static/image/reponse1.png" alt="parole de grand papy"/></p>
        <p class="affiche" id="paroleMecontent"><img src="../static/image/reponse2.png" alt="parole de grand papy"/></p>
    </div>

    <!-- la question posé à GrandPy-->
    <form methode="post" action="../static/resquest/grandPy.js">

        <div id="form">
            <section id='question'>
                <fieldset class="question">
                    <legend>Votre question à GrandPy</legend>
                    <p>
                        <label for="question">Pose ta question ici ! (Maxi 150 Caractères)</label>
                        <input type="text" name="question" id="question"
                                placeholder="Ex : Ou se trouve l'hotel Napoléon a  75000 paris"
                                size="160" maxlength="150" autofocus required/>
                    </p>

                    <!-- Valider la question-->
                    <p><input type="submit" value="Envoyer"/></p>
                </fieldset>
            </section>

            <section id='reponse'>
                <!-- la réponse de GrandPy-->
                    <fieldset class="affiche">
                        <legend>Réponse de GrandPy</legend>

                        <!-- Géolocalisation de la demende-->
                        <fieldset>
                            <legend>Localisation</legend>
                        </fieldset>

                        <!-- Historique sur le contenu de la demande-->
                        <fieldset>
                            <legend>Historique</legend>
                        </fieldset>

                        <!-- Valider la question-->
                        <p><input type="reset" value="Pose une Autre question"/></p>

                    </fieldset>
            </section>
        </div>
    </form>

    <footer id='bas'>
        <p>
            Pascal MACCHI
            <p>
                <a href="https://github.com/speedy-souris/projet7.git">
                        code source du projet GrandPy</a>
            </p>
            <P>
                <a href="https://trello.com/invite/b/mk3rI1BS/320cd4a3077e3ad9252650d4b7c664f5/grandpy">
                        suivi du projet par la methode agile ' Trello '</a>
            </P>
            <p>2019</p>
        </p>


    </footer>

</body>

</html>
