<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GrandPy</title>
</head>

<body>
    <!-- Acceuil de la page de GrandPy-->
    <h1>GrandPy, le Papi robot est là pour vous aidez !</h1>
    <p><img src="../static/image/Grandpy.png" alt="image de grand papy"/></p>
    <p><h2>Bonjour mon petit poussin,</h2></p>
    <p><h2>dis moi ce que tu cherche ?</h2></p>

    <!-- Formulaire de la question posé à GrandPy-->


    <!-- Formulaire de la réponse de GrandPy-->

</body>

</html>
