
/* General Parameter Header */
#window_top
{
    width: 75%;
    margin: auto;
    background-color: #ffbb33;
    text-align: center;
}

/* hidden display */
#gp_reply,#gp_reflection,#answer
{
    display: none;
}

/* General Parameter Footer */
#window_sill
{
    width: 25%;
    margin: auto;
    background-color: #ffbb33;
    text-align: center;
}

/* home position */
#home
{
    display: flex;
    flex-direction: column;
}

/* bubble position */
#word_of_welcome,#gp_reply
{
    margin: -1.5% 0 17% 0;
}

#ask
{
    width: 87%;
}
#grandpy
{
    width: 42%;
}

/* GrandPy's reflection position */
#gp_reflection
{
    margin: -1.7% 0 22% -1.5%;
}

/* grandPy's answer position */
#answer
{
    width: 600px;
    margin: -24% 0.5% 2% 47%;
}
#map
{
    width: 600px;
    height: 300px;
}
/*
#history
{
    width: 34.8%;
    margin: -28% 0.5% 35% 61%;
    height: 50%;
}
*/

